.special {
    color: #FEB729;
}

.important {
    color: #ff0000;
}

.mystical {
    color: #30bbe6;
}

.poisoned {
    color: green;
}

.convo {
    color: #a8a8a8;
}

.stunned {
    color: yellow;
}

.cursed {
    color: rebeccapurple;
}

.con {
}

.dex {
}

.str {
}

.int {
}

.wis {
}

.cha {
}