@font-face {
    font-family: MSDOS;
    src: url('MSDOS Font.ttf');
}

@font-face {
    font-family: RS Plain;
    src: url('RS Plain.ttf');
}

@font-face {
    font-family: RS Bold;
    src: url('RS Bold.ttf');
}

@font-face {
    font-family: RS Quill;
    src: url('RS Quill.ttf');
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideOutToTop {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100vh);
        display:none;
    }

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: ;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #EBEBEB;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

html {
}

body {
    background-color: #000;
    color: white;
    font-family: MSDOS;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#charname{
    background-color: black;
    border: 1px dotted white;
    color: white;
    display: block;
    width:inherit;
    height:inherit;
}

#startup {

}

#title {
    font-size:1.5em;
    display:block;
}

#remainingPointsWrapper {
    width: 320px;
    height: 80px;
    float: right;
    position: relative;
    right: 50%;
    top: -7.5vh;
    color: #FFD700;
}

#remainingStat {
    position:relative;
    left:-1.3em;
    float:right;
}


#remainingText {
    float: left;
    height: inherit;
    position: relative;
    left: -1.5em;
    margin-top: 1.5em;
    font-size: 1.25em;
}

#skillpointsShape {
    width: 80px;
    float: right;
    right: 0;
    border: 1px solid #FFD700;
}


#charName {
    margin:0;
    padding:0;
    background-color:black;
    border:1px solid white;
    color:white;
    font-family:RS Plain;
    font-size:1.5em;
}

#go_btn {
    background-color:black;
    color:white;
    float:left;
}

#errors {
    width: inherit;
    height: 85px;
    font-size: 1.5em;
    color: red;
    margin-left:7.5%;
}

#stat_grid {
    display:grid;
    grid-template-columns:repeat(2,auto);
    grid-gap:35px;
}

.statBox {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    float:left;
}

.statText {
    height: 0;
    width: 0;
    display: inline;
    position: relative;
    left: -0.8em;
    top: -0.8em;
}

.stat {
    height: 0;
    width: 0;
    font-size: 3em;
    display: inline;

    position: relative;
    left:-0.2em;
    top:-0.6em;
}

.shape {
    position: absolute;
    color:white;
    width: inherit;
    height: inherit;
    border: 1px solid white;
    transform: rotate(45deg);
    display: block;
}

.statExplained {
    display:block;
    width:600px;
    height:100%;
    margin-left:100px;
    margin-top:0;
    float:;
}

.statETitle {

    font-size:1.2em;

}

.statEText {



}

.plus {
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    margin: 4px;
    user-select: none;
    display:flex;
    justify-content: center;
    align-items: center;
}
    .plus:hover {
        background-color:white;
        color:black;
    }

    .plus:active {
        background-color:black;
        border:1px solid white;
        color:white;
    }

.minus {
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 4px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .minus:hover {
        background-color: white;
        color: black;
    }

    .minus:active {
        background-color: black;
        border: 1px solid white;
        color: white;
        user-select:none;
    }

